@charset "utf-8";
html {margin:0;padding:0;min-height:100vh}
body {padding-top:3.5rem}
section {padding:5rem 0}
img {max-width:100%}
pre, code {background:#f8f8f8;color:#333}
pre {border-left:0.2rem solid #ccc;padding:0.7rem}
code {
	display:inline-block;
	padding:0 0.5rem;
	line-height:1.4rem;
	border-radius:0.5rem
}
table {
	empty-cells:show;
	border:0.1rem solid #cbcbcb;
	width:100%;
	font-size:0.95rem;
	margin-bottom:1rem
}
thead {
	background-color:#e0e0e0;
	color:#000;
	text-align:left;
	vertical-align:bottom
}
tr {
	display:table-row;
	vertical-align:inherit;
	border-color:inherit
}
th, td {padding:0.5rem 1rem}
h1.title,h2.title {font-size:2.3rem}
blockquote {
        padding:0.6rem 1.2rem;
        margin: 0 0 1.2rem 1.2rem;
        border-left:0.5rem solid #eee;
        font-style:italic
}
/* paginator */
.paginator {margin-top:1.2rem;margin-bottom:7rem}
/* navbar */
img.nav-svg-icon {width:1rem;height:1rem;padding-bottom:0.12rem}
.nav-link {font-size:0.8rem}
.navbar-brand {background:url(../img/favicon.png) left no-repeat;text-indent:3.2rem}
/* Footer */
footer {
	bottom:0;
	display:flex;
	flex-direction:row;
	min-width:100vh;
	line-height:3rem;
	font-size:0.9rem
}
.mini-logo {height:1rem;padding:0 0.12rem 0 0.22rem}
/* home / header */
header.welcome {padding:5rem 0}
/* home / page */
section.home-page:nth-child(even) {background:#fafafa}
.page-cover-image {background-size:cover;background-position:center}
.page-description {color:#b5b5b5;font-style:italic}
/* responsive video embedding */
.video-embed {
	overflow:hidden;
	padding-bottom: 56.25%; /* 16:9 */
	position:relative;
	height:0;
}
.video-embed iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}
/* bootstrap
 * overrides
 */
.bg-dark,.footer {background-color:transparent !important}
nav {
	display:flex;
	position:absolute;
	top:0;
	height:3.62rem;
	line-height:3.62rem;
	background:rgb(149,149,149);
	background:-moz-linear-gradient(top, rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* LEGACY MOZILLA products */
	background:-webkit-linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);  /* LEGACY SAFARI */
	background:linear-gradient(to bottom, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* LEGACY IE */
}
nav a:hover,.navbar-brand .text-white:hover,.footer a.text-white:hover {color:#fe2f9c !important}
nav a:active,.navbar-brand .text-white:active,.footer a.text-white:active {color:#00fbfe !important}
footer,.footer {background-color:#242424 !important;background:#242424 !important}
