html {
	position: relative;
	min-height: 100%;
}

body {
	/* Padding top for navbar */
	padding-top: 56px;
	/* Margin bottom for footer height */
	margin-bottom: 60px;
}

section {
	padding: 150px 0;
}

img {
	max-width: 100%;
}

pre, code {
	background: #f8f8f8;
	color: #333;
}

pre {
	border-left: 2px solid #ccc;
	padding: 10px;
}

code {
	display: inline-block;
	padding: 0 0.5em;
	line-height: 1.4em;
	border-radius: 3px;
}

table {
	empty-cells: show;
	border: 1px solid #cbcbcb;
	width: 100%;
	font-size: 0.9em;
	margin-bottom: 1rem;
}

thead {
	background-color: #e0e0e0;
	color: #000;
	text-align: left;
	vertical-align: bottom;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

th, td {
	padding: 0.5em 1em;
}

h1.title,
h2.title {
	font-size: 2.3rem;
}

blockquote {
        padding: 10px 20px;
        margin: 0 0 20px 20px;
        border-left: 5px solid #eee;
        font-style: italic;
}


/* Paginator */
.paginator {
	margin-top: 20px;
	margin-bottom: 80px;
}

/* Navbar */
img.nav-svg-icon {
	width: 1rem;
	height: 1rem;
	padding-bottom: 2px;
}
.nav-link {
	font-size: 0.8em;
}
.navbar-brand {
	background:url(../img/favicon.png) left no-repeat;
	text-indent:50px
}

/* Footer */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 0.8em;
}

.mini-logo {
	height:1rem;
	padding:0 0.12rem 0 0.22rem;
}

/* Home - Header */
header.welcome {
	padding: 100px 0;
}

/* Home - Page */
section.home-page:nth-child(even) { /* Alternate the background color */
	background: #FAFAFA;
}

.page-cover-image {
	background-size: cover;
	background-position: center;
}

.page-description {
	color: #b5b5b5;
	font-style: italic;
}

/* VIDEO EMBED RESPONSIVE */
.video-embed {
	overflow:hidden;
	padding-bottom: 56.25%; /* 16:9 */
	position:relative;
	height:0;
}
.video-embed iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}
